html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e3e9ff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 500px;
  margin: 10px auto;
}

.header {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #af7eeb;
  color: white;
}

.input-wrapper {
  margin-bottom: 30px;
  padding: 10px 20px;
  display: flex;
  background-color: #ffff;
  color: #2222;
  justify-content: center;
  border-radius: 3px;
}

#add-btn {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #af7eeb;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #7e3ece;
}
